.main {
  display: flex;
  display: -webkit-flex;
  /* Safari */
  flex-direction: column;
  margin: auto;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url("/public/Image/sceneBackground/bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  display: flex;
  position: absolute;
  display: -webkit-flex;
  top: 0%;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex: 1;
  /* width: 100%; */
}

.content {
  display: flex;
  width: 100%;

  flex: 20;
}

.footer {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex: 1;
}
